<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568164807997-j4qed78ma008k3fbc6nmopd685et8qi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568164807997-j4qed78ma008k3fbc6nmopd685et8qi4</string>
	<key>API_KEY</key>
	<string>AIzaSyAK4UB4z0FN8NjEHZCh_rgOUJ3TVVBSsuw</string>
	<key>GCM_SENDER_ID</key>
	<string>568164807997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Souvik.IIIT-Dharwad-Paperless-Admin</string>
	<key>PROJECT_ID</key>
	<string>paperless-admission</string>
	<key>STORAGE_BUCKET</key>
	<string>paperless-admission.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568164807997:ios:ae20c5ac49eca1fb9a0154</string>
</dict>
</plist>